/* @font-face {
  font-family: 'Iosevka';
  src: local('Iosevka'),
    url('/fonts/iosevka-regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'AaXianXiaShaoNian';
  src: url('/fonts/AaXianXiaShaoNian.ttf') format("truetype");
}
